@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overscroll-behavior-y: none; 
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 120dvh; /* Dynamic Viewport Height: resolve o problema da barra de URL */
    
    /* O fundo deve ser fixo aqui para não ser empurrado pelo scroll */
    background-image: url('/gradiente-fundo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;


  }

  * {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}

@keyframes scale-up {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale-up {
  animation: scale-up 0.2s ease-out;
}